pkgbase = switch-netns
	pkgdesc = CLI tool to change network namespaces without root access
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/USSURATONCACHI/switch-netns.git
	arch = any
	license = MIT
	makedepends = base-devel
	makedepends = gengetopt
	depends = libcap
	source = git+https://github.com/USSURATONCACHI/switch-netns.git#tag=v1.0.2
	sha256sums = 1ffdd9eabb26143369a2df4bcd7f4271df467ddd707dfaf674e5b3b213bcefdf

pkgname = switch-netns
